body 
{
background-color:rgb(38, 36, 36); 
font-family:arial;
color:black;
box-sizing:border-box;
display:flex;
justify-content:center;
align-items:center;

}
h1
{
color:grey;
font-family:verdana;
}
.maindiv
{
background-color:white;
margin:30px; 
padding:20px;
width:500px;
border-radius: 25px;
}
.maindiv2
{
width:400px;
margin-left:75px; 
}
.btn
{
background-color:rgb(206, 198, 198); 
font-size: 15px;
border:1px solid;
border-radius: 5px;
padding:4px;
}
